// body {
//     font-family: Chalkduster, fantasy;
//     display:flex;
//     flex-direction:column;
//     justify-content:space-between;
//     height:150vh;
//     background-image: linear-gradient(to right top, #069D4A, #0DA66C, #2BAE89, #4BB6A1, #6DBCB4, #52B8BC, #33B3C6, #00ADD1
//   , #0097E6, #007DF9, #005AFE, #0F15E9);
//     background-size: cover;
//   }

// * {
//     margin: 0;
//     padding: 0;

// }

// div {
//     position: relative;
//     width: 100%;
//     height: 100vh;
//     background: #3586ff;
//     overflow: hidden;
// }

// div .wave {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     height: 100px;
//     background: url(wave.png);
//     background-size: 1000px 100px;
// }

// div .wave.wave1 {
//     animation: animate 30s linear infinite;
//     z-index: 1000;
//     opacity: 1;
//     animation-delay: 0s;
//     bottom: 0;
// }
// div .wave.wave2 {
//     animation: animate2 15s linear infinite;
//     z-index: 999;
//     opacity: 0.5;
//     animation-delay: -5s;
//     bottom: 10px;
// }

@keyframes animate 
{ 0% {
    background-position-x: 0;
}
 100% {
    background-position-x: 1000px;
}

}
@keyframes animate2 
{ 0% {
    background-position-x: 0;
}
 100% {
    background-position-x: -1000px;
}

}